body{
    padding:0 100px 0 100px;
    background-color: #ddd;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}
h1{
    text-align: center;
    font-size: 36px;
    font-family: 'Oswald', sans-serif;
    width: 100%;
    border-bottom: 4px black solid;
}

p{ 
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    margin-bottom: 0;
    font-size: 20px;
    color: gray;
    margin: 10px 0;
    text-align: justify;
}

.indice{
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 10px 25px;
    margin-bottom: 20px;
    overflow: hidden;
    border: 2px gray solid;
    border-radius: 20px;
}

.indice li{
    float: left;
}

.indice li a{
    display: block;
    text-decoration: none;
    padding: 14px 16px;
    color: black;
    font-family: 'Oswald', sans-serif;

}

.indice li a:hover{
    color: red;
}

img{
    display: block;
    margin: 0px auto;
    padding: 0;
    height: auto;
    width: 1000px;
}

h2{
    text-align: center;
}

.elenco{
    list-style: square;
}

table{
    display: flex;
    justify-content: center;
}

table td{
    border: 1px black solid;
}

table tr:nth-child(odd){
    font-weight: 600;
}

.video{
    display: flex;
    justify-content: center;
}